@model StockMangementAPI_Counsume.Models.BillsModel

<div class="card" style="width:70%;margin-left:300px">
	<div class="card-header">
		<div class="card-title">Bills Form</div>
	</div>
	<form method="post" asp-controller="Bills" asp-action="BillsSave">

		<input type="hidden" class="form-control form-control" placeholder="Bill ID" asp-for="BillID">
			<div class="form-group">
				<label for="defaultSelect">Customer ID</label>
				<select asp-for="CustomerID" class="form-control form-control" id="defaultSelect">
					<option>CustomerName</option>
				@foreach (var customers in ViewBag.customersList)
					{
					<option value="@customers.CustomerID">@customers.CustomerName</option>
					}
				</select>
			</div>
			<div class="form-group">
			<label for="largeInput">Total Amount<span class="text-danger">*</span></label>
			<input type="tel" class="form-control form-control" placeholder="Total Amount" asp-for="TotalAmount">
			</div>
			<div class="form-group">
			<label for="largeInput">Discount<span class="text-danger">*</span></label>
			<input type="tel" class="form-control form-control" placeholder="Discount" asp-for="Discount">
			</div>
			<div class="form-group">
			<label for="largeInput">Payment Mode<span class="text-danger">*</span></label>
			<input type="text" class="form-control form-control" placeholder="Payment Mode" asp-for="PaymentMode">
			</div>
			<div class="form-group">
			<label for="largeInput">Bil lDate<span class="text-danger">*</span></label>
			<input type="text" class="form-control form-control" placeholder="Bill Date" asp-for="BillDate">
			</div>
			<div class="form-group">
				<label for="defaultSelect">User ID</label>
				<select asp-for="UserID" class="form-control form-control" id="defaultSelect">
					<option>UserName</option>
					@foreach (var user in ViewBag.userList)
					{
						<option value="@user.UserID">@user.UserName</option>
					}
				</select>
			</div>
		</div>
		<div class="card-action">
			<button class="btn btn-success">Submit</button>
			@* 			<a asp-action="UserList" asp-controller="User"><button class="btn btn-danger">Cancel</button></a>
			*@
		</div>
	</form>
</div>



